

<h1 class="text-2xl font-bold mb-4">Create Organ</h1>
<form action="/organ/create" method="POST" class="space-y-4">
  <input type="text" name="organType" placeholder="Organ Type" class="border p-2 rounded w-full" required />
  <input type="text" name="donorID" placeholder="Donor ObjectId" class="border p-2 rounded w-full" required />
  <input type="text" name="storedAt" placeholder="Hospital ObjectId" class="border p-2 rounded w-full" required />
  <button type="submit" class="bg-teal-700 text-white px-4 py-2 rounded">Create Organ</button>
</form>
